DATABASE_URL=
LOG_DATABASE_URL=

TCE_CE_BASE_URL=https://api-dados-abertos.tce.ce.gov.br/sim
IBGE_LOCALIDADES_BASE_URL=https://servicodados.ibge.gov.br/api/v1/localidades
OPENCNPJ_BASE_URL=https://api.opencnpj.org
UF_PADRAO=CE

CODIGO_MUNICIPIO_TCE_PADRAO=010
